@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);

}

.container
{
    position: relative;
    width: 90%;
    max-width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;

}

.container .leftConatiner{
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.container .rightConatiner{
    position: relative;
    flex: 70%;
    background: #e5ddd5;
}

.container .rightConatiner::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/bg-pattern.png);
    opacity: 0.06;
}

.header{
    position: relative;
    height: 65px;
    width: 100%;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.userimg{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navicon{
    display: flex;
}

.navicon li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.45em;
    margin-left: 20px;

}

.search{
    position: relative;
    width: 100%;
    height: 45px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search div{
    width: 100%;

}
.search div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 25px;
    font-size: 14px;
    padding-left: 40px;
}

.search div input::placeholder{
    color: #bbb;
}

.search div ion-icon{
    position: absolute;
    left: 30px;
    top: 15px;
    font: 1.2em;
}
